<a href="https://colab.research.google.com/github/andrebezada/Cuadernos/blob/main/Latam_Clase3_alumno.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Diccionarios

---

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsList.png" width="500" />

In [ ]:
#Mira la utilidad de los diccionarios 

# Definimos dos listas 
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# tenemos el índice de  'germany': ind_ger
ind_ger = countries.index('germany')

# Usa ind_ger e imprime la capital de alemania 
print(capitals[ind_ger])

In [ ]:
#Definimos lista countries y capitals 
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Desde los conceptos de listas creamos el diccionario  'europe'

print(europe)

In [ ]:
# Definimos el diccionario
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

#imprime las keys de europe con el metodo variable.keys()


#Imprime el valor que le pertenece a norway variable['key']

In [ ]:
# Definimos el diccionario
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# agrega 'italy' al diccionario con su valor 'rome', dict['key'] = 'valor'

# Imprime si 'italy' está en el diccionario


# agrega 'poland' con 'warsaw' al diccionario


# Imprime europe 
print(europe)

In [ ]:
# Definimos el diccionario
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Actualiza la capital de 'germany'


# Remueve 'australia' con del(dict['key'])


# imprime europe
print(europe)

In [ ]:
# Creamos un diccionario de diccionarios
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Imprime la capital de france 


# Crea el sub-diccionario 'data'
data = {'capital' : 'rome', 'population' : 59.83}
# agrega 'data' bajo la llave de 'italy'


# imprime europe
print(europe)

# Indices de Comparación 

---

In [ ]:
# usando == y !=
# Comparacion de boolenaos 


# Comparación de enteros 


# Comparación de textos 


# Compara un booleano con un entero 
print(True == 1)

In [ ]:
#usando >, < y >=
# Comparacion de enteros 

#Comparacion de textos 

#Comparacion de booleanos

In [ ]:
# Crea un array 
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# Compara 'my_house' siendo mayor o igual a 18 


#Compara 'my_house' si es menor a 'your_house'

In [ ]:
#usamos and, or 
# Definimos las variables 
my_kitchen = 18.0
your_kitchen = 14.0

# Avergiuar si 'my_kitchen' es mayor que 10 y menor a 18 


# Averiguar si 'my_kitchen' es menor que 14 o mayor que 17 


# Duplicar 'my_kitchen' y averiguar si menor que el triple de 'your_kitchen'

In [ ]:
#usando np.logical_or  y np.logical_and
# Creamos arrays 

my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

#Averiguar si 'my_house' es mayor que 18.5 o menor que 10 


# Ambos 'my_house' y 'your_house' sean menores que 11

In [ ]:
#Definimos variables 
room = "kit"
area = 14.0

# Creamos una condicional 
if room == "kit" :
    print("El valor es el mismo .")

# Creamos un condicional para el area 
if area > 15:
    print('Estas en lo correcto ')

In [ ]:
# Definimos variables 
room = "kit"
area = 14.0

# Creamos un condicional con if-else 
if room == "kit" :
    print("El valor es el mismo .")
else :
    print("El valor es diferente .")

# if-else construct for area
if area > 15 :
    print("Estas en lo correcto ")
else:
    print('Estas equivocado ')

In [ ]:
# Define variables
room = "bed"
area = 14.0

# if-elif-else construct for room
if room == "kit" :
    print("El valor es el de kit  .")
elif room == "bed":
    print("El valor es el de bed  .")
else :
    print("El valor es incorrecto .")

# if-elif-else construct for area
if area > 15 :
    print("Es un gran lugar ")
elif area>10:
    print('Es un lugar de tamaño mediano')

else :
    print("Es un lugar pequeño.")

In [ ]:
# Definimos variable 
offset = 8

# Creamos un While 

while offset != 0 :
    print('corrigiendo...')
    offset = offset - 1 
    print(offset)

In [ ]:

offset = -6


while offset != 0 :
    print("corrigiendo...")
    if offset > 0 :
      offset = offset - 1 
    else : 
      offset = offset + 1
    print(offset)

In [ ]:
#Definimos una lista 
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Codificamos un for loop 
for area in areas : 
    print(area)

In [ ]:
# Definimos una lista
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Definimos el loop para que imprima los cuartos con enumerate()
for index, area in enumerate(areas):
    print('cuarto ' + str(index)+ ': ' + str(area))

In [ ]:
#Creamos un ejemplo parecido al de arriba pero con indice común para todos

areas = [11.25, 18.0, 20.0, 10.75, 9.50]

In [ ]:
# casa lista de listas 
casa = [["salon", 11.25], 
         ["cocina", 18.0], 
         ["sala de estar", 20.0], 
         ["dormitorio", 10.75], 
         ["banio", 9.50]]
         
# Construimos un for loop

In [ ]:
# Definimos un diccionario
europe = {'spain':'madrid', 
          'france':'paris',
          'germany':'berlin',
          'norway':'oslo',
          'italy':'rome',
          'poland':'warsaw',
          'austria':'vienna' }
          
# Iteramos sobre el diccionario 
for key,value in europe.items():
    print('the capital of ' + str(key) + ' is ' + str(value))

In [ ]:
# usamos numpy
import numpy as np

# Creamos un for loop 
for x in np.nditer(np_height) :
    print(str(x) + " inches")

In [ ]:
# Importamos el DataFrame cars 
import pandas as pd
cars = pd.read_csv('https://assets.datacamp.com/production/repositories/287/datasets/79b3c22c47a2f45a800c62cae39035ff2ea4e609/cars.csv', index_col = 0)

# Iteramos sobre las filas del DataFrame 
for label,value in cars.iterrows():
    print(label)
    print(value['country'])

# Pandas

---

In [ ]:
# Tenemeos listas pre-definidas 
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Importamos el paquete de pandas 
import pandas as pd 

# Creamos un diccionario 'my_dict' con tres keys 
my_dict = {'country' : names, 'drives_right' : dr ,'cars_per_cap':cpc}

# Construimos un DataFrame 'cars' desde 'my_dict' : cars con 'pd.DataFrame(dict)'


# Imprimimos 'cars'
print(cars)

In [ ]:
import pandas as pd

# Creamos el DataFrame 'cars'
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)
print(cars)

# Definimos las etiquetas de las filas 
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Especificamos las etiquetas de las filas del DataFrame 
cars.index = row_labels

# Imprimimos el DataFrame 
print(cars)

# Importamos datos 

---

In [ ]:
# Paquete de pandas
import pandas as pd 

# importamos un csv cualsea con la ruta 
cars = pd.read_csv('/content/sample_data/california_housing_test.csv')

# Imprimimos el dataset 
print(cars)

# DataFrame

---

Direccion del DataFrame 

https://assets.datacamp.com/production/repositories/287/datasets/79b3c22c47a2f45a800c62cae39035ff2ea4e609/cars.csv

In [ ]:
# Importamos pandas 
import pandas as pd

# Arreglamos la importacions de la tabla incluyendo el argumento 'index_col' 
cars = pd.read_csv('https://assets.datacamp.com/production/repositories/287/datasets/79b3c22c47a2f45a800c62cae39035ff2ea4e609/cars.csv', index_col = 0)

# Imprime el Data Frame 
print(cars)

In [16]:
# Importamos el Data Frame 'cars'
import pandas as pd
cars = pd.read_csv('https://assets.datacamp.com/production/repositories/287/datasets/79b3c22c47a2f45a800c62cae39035ff2ea4e609/cars.csv', index_col = 0)

# Imprimimos la columna de paises como una pandas series , dict['column]


# Imprime la columna de paises como un DataFrame de pandas , dict([[column]])


# Imprime el DataFrame de paises y de la manera de conducir

In [ ]:

# Imprime las 3 primeras observaciones , 'print(Cars[0:3])


# Imrpime la 4ta, 5ta y 6ta observación

In [ ]:
# Imprime la observación de Japon 
print(cars.loc['JPN'])
print(cars.iloc[2])
# Imprime las observaciones de Australia y Egipto 
print(cars.loc[['AUS', 'EG']])

In [ ]:

# Imprime la manera de conducir en la valores de marruecos 
print(cars.loc[['MOR'], 'drives_right'])

# Imprime el DataFrame resultante 
print(cars.iloc[[4,5], [1,2]])

In [ ]:
#Imprime la manera de conducir como una pandas-series 
print(cars.loc[:,'drives_right'])

#Imprime la manera de conducir como un DataFrame 
print(cars.iloc[:, [2]])

# Imprime la columna de 'cars_per_cap' y la manera de conducir como un DataFrame 
print(cars.iloc[: , [0,2]])

# Matplotlib

---

In [ ]:
# Importamos pandas 
import pandas as pd

#Leemos la data del dataset ' climate change' 
climate_change = pd.read_csv('/content/climate_change.csv', parse_dates=["date"], index_col="date")

pd.DataFrame.head(climate_change)

               co2  relative_temp
date
1958-03-06  315.71           0.10
1958-04-06  317.45           0.01
1958-05-06  317.50           0.08
1958-06-06     NaN          -0.05
1958-07-06  315.86           0.06

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots()

#Agrega la serie de tiempos para la columna 'relative_temp' al gráfico
ax.plot(climate_change.index, climate_change['relative_temp'])

# Ponemos la etiqueta del eje x 
ax.set_xlabel('Fecha')

# Ponemos la etiqueta del eje y  
ax.set_ylabel('Temperatura Relativa(Celsius)')

# Mostramos la figura 
plt.show()

In [ ]:
import matplotlib.pyplot as plt

# Creamos la plantilla de trabajo
fig, ax = plt.subplots()

# Creamos la varible ' setentas ' con datos de la decada 
seventies = climate_change["1970-01-01":"1979-12-31"]

# Agregamos la serie de tiempo para 'co2' para los setentas 
ax.plot(seventies.index, seventies["co2"])

# Mostramos la figura 
plt.show()

In [ ]:
import matplotlib.pyplot as plt

# Creamos la plantilla de trabajo 
fig, ax = plt.subplots()

# Ploteamos la variable 'co2' en azul 
ax.plot(climate_change.index, climate_change["co2"], color='blue')

# Creamos un eje y 'gemelo' que comparta el eje x 
ax2 = ax.twinx()

# Ploteamos la temperatura relativa en rojo 
ax2.plot(climate_change.index, climate_change["relative_temp"], color='red')

plt.show()

---------------------------------------------------------------

In [ ]:
medals = pd.read_csv('/content/medals_by_country_2016.csv', index_col=0)

pd.DataFrame.head(medals)

               Bronze  Gold  Silver
United States      67   137      52
Germany            67    47      43
Great Britain      26    64      55
Russia             35    50      28
China              35    44      30

In [ ]:
fig, ax = plt.subplots()

# Creamos un grafico de barras de las medallas de oro que estan en la columna 'gold' en funcion del pais 
ax.bar(medals.index, medals["Gold"])

# Ajustamos la forma del eje x para poder ver mejor las etiquetas 
ax.set_xticklabels(medals.index, rotation=90)

# Ajustamos el eje y 
ax.set_ylabel("Número de medallas)

plt.show()

In [ ]:
fig, ax = plt.subplots()

#Ploteamos un grafico de barras con las medallas de oro en funcion del pais 
ax.bar(medals.index, medals["Gold"])

# Ajustamos la forma del eje x para poder ver mejor las etiquetas 
ax.set_xticklabels(medals.index, rotation=90)

# Ajustamos el eje y
ax.set_ylabel("Número de medallas")

# Agregamos barras para la columna ' gold' con la etiqueta 'oro'
ax.bar(medals.index, medals["Gold"], label="Oro")

# Agregamos los valores de la columna 'silver' encima con la etiqueta ' plata '
ax.bar(medals.index, medals["Silver"], bottom=medals["Gold"], label="Plata")

# Agregamos los valores de la columna 'bronze' encima con la etiqueta ' bronce '
ax.bar(medals.index, medals["Bronze"], bottom=medals["Gold"] + medals["Silver"], label="Bronce")

# Mostramos la leyenda 
ax.legend()

plt.show()

In [ ]:
datos = pd.read_csv('https://assets.datacamp.com/production/repositories/287/datasets/5b1e4356f9fa5b5ce32e9bd2b75c777284819cca/gapminder.csv', index_col = 1)
print(datos)

In [ ]:
pd.DataFrame.head(datos, n=10)