<a href="https://colab.research.google.com/github/andrebezada/Cuadernos/blob/main/TallerPythonCEBI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Bienvenido al taller de python organizado por el Círculo de Estudios de Business Intelligence**

Tu primera linea de código

In [ ]:
# utiliza el comando print('imprime esto')

<p>Tipos de objetos en python</p>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesObjects.png" width="600">
</a>

In [ ]:
#Integer
485

#Float
17.8

#String
"Haz tu paper de investigación"

<p>Tu puedes hacer que python te diga que tipo de objeto es lo que estás tipeando con la función <code>type()</code> . Verás que python se refiere a los enteros como <code>int</code>, los flotantes como <code>float</code>, y la linea de caracteres como <code>str</code>.</p>

In [ ]:
#tipo de 485

In [ ]:
#tipo de 17.8

In [ ]:
#tipo de 'Haz tu paper de investigacion'

<h3 id="exp">Expresiones</h3>

<p>Las expresiones en Python incluyen operaciones compatibles entre tipos . Por ejemplo, operaciones aritméticas básicas como agregar números </p>

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

In [ ]:
# Subtraction operation expression

50 - 60

In [ ]:
# Multiplication operation expression

5 * 5

In [ ]:
# Division operation expression

25 / 6

In [ ]:
# Integer division operation expression

25 // 6

<h3 id="var">Variables</h3>

<p>Como en otros lenguajes de programación, podemos alojar valores en  <i>variables</i>,para que podamos usarlos despues</p>

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [ ]:
# Print out the value in variable

x

<p>We can also perform operations on <code>x</code> and save the result to a new variable:</p>

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

<p>If we save a value to an existing variable, the new value will overwrite the previous value:</p>

In [ ]:
# Overwrite variable with new value

x = x / 60
x

<p>It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:</p>

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

<h3 id="var">Ejercicio</h3>

<p>Crea las variables <code>x</code> , <code>y</code> y <code>z</code> asignandoles valores numéricos 12, 35, 56.7 respectivamente y asignalas en la variable <code>CEBI</code> </p>

In [ ]:
# halla CEBI

<h2 id="index">Indexing</h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

In [ ]:
name = 'Michael Jackson'

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Debido a que la indexación empieza en 0, significa que el primer indice es el indice 0.
</div>
<hr/>

In [ ]:
# Print the first element in the string

Name[0]

In [ ]:
# Print the element on index 6 in the string

print(Name[6])

In [ ]:
# Print the element on the 13th index in the string

print(Name[13])

<h3 id="neg">Negative Indexing</h3>

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

Negative index can help us to count the element from the end of the string.

In [ ]:
# Print the last element in the string

print(Name[-1])

In [ ]:
# Print the first element in the string

print(Name[-15])

In [ ]:
# Find the length of string

len("Michael Jackson")

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [ ]:
# Concatenate two strings

Statement = Name + "is the best"
Statement

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [ ]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [ ]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

# Tuplas

---

In Python, there are different data types: string, integer and float. These data types can all be contained in a tuple as follows:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesType.png" width="750" align="center" />

Now, let us create your first tuple with string, integer and float.

In [ ]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

The type of variable is a tuple.

In [ ]:
# Print the type of the tuple you created

type(tuple1)


Each element of a tuple can be accessed via an index. The following table represents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracket with the index number:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesIndex.gif" width="750" align="center">

In [ ]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

In [ ]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<h3 id="concate">Concatenate Tuples</h3>

We can concatenate or combine tuples by using the **+** sign:

In [ ]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

We can slice tuples obtaining multiple values as demonstrated by the figure below:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesSlice.gif" width="750" align="center">

We can slice tuples, obtaining new tuples with the corresponding elements:

In [ ]:
# Slice from index 0 to index 2

tuple2[0:3]

In [ ]:
# Slice from index 3 to index 4

tuple2[3:5]