<a href="https://colab.research.google.com/github/andrebezada/Cuadernos/blob/main/TallerPythonCEBI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Bienvenido al taller de python organizado por el Círculo de Estudios de Business Intelligence**

Tu primera linea de código

In [ ]:
# utiliza el comando print('imprime esto')

<p>Tipos de objetos en python</p>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesObjects.png" width="600">
</a>

In [ ]:
#Integer
485

#Float
17.8

#String
"Haz tu paper de investigación"

<p>Tu puedes hacer que python te diga que tipo de objeto es lo que estás tipeando con la función <code>type()</code> . Verás que python se refiere a los enteros como <code>int</code>, los flotantes como <code>float</code>, y la linea de caracteres como <code>str</code>.</p>

In [ ]:
#tipo de 485

In [ ]:
#tipo de 17.8

In [ ]:
#tipo de 'Haz tu paper de investigacion'

<h3 id="exp">Expresiones</h3>

<p>Las expresiones en Python incluyen operaciones compatibles entre tipos . Por ejemplo, operaciones aritméticas básicas como agregar números </p>

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

In [ ]:
# Subtraction operation expression

50 - 60

In [ ]:
# Multiplication operation expression

5 * 5

In [ ]:
# Division operation expression

25 / 6

In [ ]:
# Integer division operation expression

25 // 6

<h3 id="var">Variables</h3>

<p>Como en otros lenguajes de programación, podemos alojar valores en  <i>variables</i>,para que podamos usarlos despues</p>

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [ ]:
# Print out the value in variable

x

<p>We can also perform operations on <code>x</code> and save the result to a new variable:</p>

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

<p>If we save a value to an existing variable, the new value will overwrite the previous value:</p>

In [ ]:
# Overwrite variable with new value

x = x / 60
x

<p>It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:</p>

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

<h3 id="var">Ejercicio</h3>

<p>Crea las variables <code>x</code> , <code>y</code> y <code>z</code> asignandoles valores numéricos 12, 35, 56.7 respectivamente y asignalas en la variable <code>CEBI</code> </p>

In [ ]:
# halla CEBI

<h2 id="index">Indexing</h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

In [ ]:
name = 'Michael Jackson'

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Debido a que la indexación empieza en 0, significa que el primer indice es el indice 0.
</div>
<hr/>

In [ ]:
# Print the first element in the string

Name[0]

In [ ]:
# Print the element on index 6 in the string

print(Name[6])

In [ ]:
# Print the element on the 13th index in the string

print(Name[13])

<h3 id="neg">Negative Indexing</h3>

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

Negative index can help us to count the element from the end of the string.

In [ ]:
# Print the last element in the string

print(Name[-1])

In [ ]:
# Print the first element in the string

print(Name[-15])

In [ ]:
# Find the length of string

len("Michael Jackson")

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [ ]:
# Concatenate two strings

Statement = Name + "is the best"
Statement

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [ ]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [ ]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

# Tuplas

---

In Python, there are different data types: string, integer and float. These data types can all be contained in a tuple as follows:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesType.png" width="750" align="center" />

Now, let us create your first tuple with string, integer and float.

In [ ]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

The type of variable is a tuple.

In [ ]:
# Print the type of the tuple you created

type(tuple1)


Each element of a tuple can be accessed via an index. The following table represents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracket with the index number:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesIndex.gif" width="750" align="center">

In [ ]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

In [ ]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<h3 id="concate">Concatenate Tuples</h3>

We can concatenate or combine tuples by using the **+** sign:

In [ ]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

We can slice tuples obtaining multiple values as demonstrated by the figure below:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesSlice.gif" width="750" align="center">

We can slice tuples, obtaining new tuples with the corresponding elements:

In [ ]:
# Slice from index 0 to index 2

tuple2[0:3]

In [ ]:
# Slice from index 3 to index 4

tuple2[3:5]

Ordenamiento

 Consider the following tuple:

In [ ]:
# A sample tuple
#
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

We can sort the values in a tuple and save it to a new tuple:

In [ ]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

# Listas

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsIndex.png" width="1000" />

 To create a list, type the list within square brackets <b>[ ]</b>, with your content inside the parenthesis and separated by commas. Let’s try it!

In [ ]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsNeg.png" width="1000" />

Operaciones con listas 

---

In [ ]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsSlice.png" width="1000">

In [ ]:
# List slicing

L[3:5]

We can use the method <code>extend</code> to add new elements to the list:

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

Another similar method is <code>append</code>. If we apply <code>append</code> instead of <code>extend</code>, we add one element to the list:

In [ ]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

As lists are mutable, we can change them. For example, we can change the first element as follows:

In [ ]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

We can also delete an element of a list using the <code>del</code> command:

In [ ]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

We can convert a string to a list using <code>split</code>.  For example, the method <code>split</code> translates every group of characters separated by a space into an element in a list:

In [ ]:
# Split the string, default is by space

'hard rock'.split()

Puedes separar la lista indicando el caracter de separación

In [ ]:
# Split the string by comma

'A,B,C,D'.split(',')

# Conjuntos

A set is a unique collection of objects in Python. You can denote a set with a curly bracket <b>{}</b>. Python will automatically remove duplicate items:

In [ ]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsUnique.png" width="1100" />

 You can also  create a set from a list as follows:

In [ ]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19","Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

Operaciones con conjuntos

In [ ]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

 We can add an element to a set using the <code>add()</code> method:

In [ ]:
# Add element to set

A.add("NSYNC")
A

In [ ]:
# Try to add duplicate element to the set

A.add("NSYNC")
A

 We can remove an item from a set using the <code>remove</code> method:

In [ ]:
# Remove the element from set

A.remove("NSYNC")
A

 We can verify if an element is in the set using the <code>in</code> command:

In [ ]:
# Verify if the element is in the set

"AC/DC" in A

Operaciones Lógicas con conjuntos 

---

In [ ]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsSamples.png" width="650" />

In [ ]:
# Print two sets

album_set1, album_set2

As both sets contain <b>AC/DC</b> and <b>Back in Black</b> we represent these common elements with the intersection of two circles.

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLogic.png" width = "650" />

You can find the intersect of two sets as follow using <code>&</code>:

In [ ]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

You can find all the elements that are only contained in <code>album_set1</code> using the <code>difference</code> method:

In [ ]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLeft.png" width="650" />

Solamente elemento del 'album_list2'

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsRight.png" width="650" />

In [ ]:
album_set2.difference(album_set1)

You can also find the intersection of <code>album_list1</code> and <code>album_list2</code>, using the <code>intersection</code> method:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsIntersect.png" width="650" />

In [ ]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

The union corresponds to all the elements in both sets, which is represented by coloring both circles:

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsUnion.png" width="650" />

In [ ]:
# Find the union of two sets

album_set1.union(album_set2)

Conjunción

In [ ]:
# Check if superset

set(album_set1).issuperset(album_set2)

In [ ]:
# Check if subset

set(album_set2).issubset(album_set1)

# Diccionarios

---

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of the numerical indexes such as a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsList.png" width="650" />

An example of a Dictionary <code>Dict</code>:

In [ ]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

Las llaves pueden ser conjuntos de caracteres

In [ ]:
# Access to the value by the key

Dict["key1"]

Keys can also be any immutable object such as a tuple:

In [ ]:
# Access to the value by the key

Dict[(0, 1)]

 Each key is separated from its value by a colon "<code>:</code>".  Commas separate the items, and the whole dictionary is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this  "<code>{}</code>".

In [ ]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", 
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", 
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", 
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

It is helpful to visualize the dictionary as a table, as in the following image. The first column represents the keys, the second column represents the values.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsStructure.png" width="650" />

In [ ]:
# Get value by keys

release_year_dict['Thriller']

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsKeyOne.png" width="500" />

In [ ]:
# Get value by key

release_year_dict['The Bodyguard']

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsKeyTwo.png" width="500" />

In [ ]:
# Get all the keys in dictionary

release_year_dict.keys()

In [ ]:
# Get all the values in dictionary

release_year_dict.values()

We can add an entry:

In [ ]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

We can delete an entry:

In [ ]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

 We can verify if an element is in the dictionary:

In [ ]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

# Condicionales en python!

---